[alias]
        st = status
        br = branch
        amend = commit --amend
        co = checkout
        comit = commit
        ps = push
        count = shortlog -sn
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
        editor =  "if [ -f CHOOSEN_EDITOR ]; then ED='CHOOSEN_EDITOR'; else ED='nano'; fi; $ED"
        excludesfile = ~/.gitignore
[user]
        name = AUTHORNAME
        email = AUTHOREMAIL
[help]
        autocorrect = 1
[push]
        # See `git help config` (search for push.default)
        # for more information on different options of the below setting.
        #
        # Setting to git 2.0 default to suppress warning message
        default = simple
