[alias]
	st = status
	br = branch
	amend = commit --amend
	co = checkout
[color]
	ui = true
[commit]
	template = ~/gittemplate
[core]
        editor =  "if [ -f /usr/bin/emacs ]; then ED='/usr/bin/emacs'; else ED='nano'; fi; $ED"